/* MAIN */

.main-wrapper {
    padding: 0 40px 40px 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.main-wrapper>.card {
    flex: 1;
    min-width: 200px;
}

.card.main {
    padding: 30px;
    padding-bottom: 0;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.task-holder {
    text-align: left;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
}

.tasks-box {
    display: grid;
    gap: 5px;
    border-bottom: 1px solid var(--line);
    padding: 10px 0;
}

.task-box-top {
    display: grid;
    grid-template-columns: 1fr min-content 85px repeat(2, min-content);
    gap: 10px;
    overflow-wrap: break-word;
}

.task-notes {
    font-size: 0.8rem;
}


.edit-task-btn, .delete-task-btn {
    background-color: transparent;
    border-radius: 0;
    opacity: 0.6;
    padding: 0;

    height: 1.5rem;
    width: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.edit-task-btn {
    background-image: url(../assets/edit.png);
}

.delete-task-btn {
    background-image: url(../assets/delete.png);
}
  
.card.display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-task-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 3px 13px
}