/* MAIN */

.main-wrapper {
    padding: 0 40px 40px 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.main-wrapper>.card {
    flex: 1;
    min-width: 200px;
}

.card.main {
    padding: 30px;
    padding-bottom: 0;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.task-holder {
    padding: 20px 0;
    text-align: left;
}

.tasks-box {
    display: flex;
    flex-direction: column;
}

.tasks-box>div {
    display: grid;
    grid-template-columns: 1fr 2fr 90px repeat(3, min-content);
    gap: 10px;
    padding: 10px 0;
    overflow-wrap: break-word;
    border-bottom: 1px solid var(--line);

}

.edit-task-btn, .delete-task-btn {
    background-color: transparent;
    border-radius: 0;
    opacity: 0.6;
    padding: 0;

    height: 1.5rem;
    width: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.edit-task-btn {
    background-image: url(../assets/edit.png);
}

.delete-task-btn {
    background-image: url(../assets/delete.png);
}

/* .quick-task-form {
    display: grid;
    grid-template-columns: auto min-content;
    gap: 10px;
    padding: 30px 0;
}

form>.quick-task-name {
    border: 1px solid var(--line);
    caret-color: var(--blue-accent);
    overflow: hidden;
    padding: 7px 10px;
    border-radius: 10px;
    transition: 180ms;
    font-size: 1rem;
}

form>.quick-task-name:focus {
    border: 1px solid var(--blue-accent);
} */
  
.card.display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-placeholder {
    height: auto;
    width: 150px;
}

.create-task-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 3px 13px
}