/* MAIN */

.main-wrapper {
    padding: 0 40px 40px 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
  
.main-wrapper>.card {
    flex: 1;
    max-width: 450px;
    min-width: min-content;
    padding: 30px;
}
  
.display.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskPlaceholder {
    height: auto;
    width: 150px;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 10px;;
}
