:root {
  --dark-accent: #11213d;
  --blue-accent: #0059b1;
  --red-accent: #9e2047;
  --body-color: rgb(237, 237, 255);
  --card-color: white;
  --box-shadow: rgba(128, 128, 128, 0.317);
  --line: #b9c5d1;
  --hover: rgb(239, 239, 239);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  background-image: url(./assets/bg.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  text-align: center;
  min-height: 100vh;
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}

input, textarea, select {
  font-family: inherit;
  /* font-size: inherit; */
  font-weight: inherit;
  line-height: inherit;
  resize: none;
}

button {
  font-size: 0.85rem;
  font-weight: bold;
  padding: 12px 20px;
  background-color: var(--red-accent);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  opacity: 0.92;
  transition: 0.2s;
}

button:hover, button:active {
  opacity: 1;
}


hr {
  border-top: 1px solid var(--line);
}

a {
  text-decoration: none;
  color: var(--blue-accent);
  cursor: pointer;
}